:root {
    --color-primary: #2E2F42;
    --color-secondary: #434455;
    --color-light: #E7E9FC;
    --color-ocean: #404BBF;
    --color-iris: #4D5AE5;
    --color-background-ocean: #F4F4FD;
    --total-white: #ffffff;
}

/* Видалити потім */
.hero-background-title {
    background-color: #2E2F42;
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
}

ul {
    list-style: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Оформлення Header */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 76px;
}

.head-section-container { 
    display: flex;
    align-items: center;
    gap: 40px;
}

.adress-block-container {
    display: flex;
    margin-left: auto;
}

.contacts-container {
    display: flex;
    align-items: center;
}

.logo-blue {
    color: var(--color-iris);
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
}

.logo-footer {
    color: var(--color-background-ocean);
}

.header-section {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    text-decoration: none;
}

.header-section:hover, .header-section:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-ocean)
}

.header-contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-secondary)
}

.header-contacts:hover, .header-contacts:focus { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-ocean)
}

/* Оформлення Hero */
.container-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1440px;
    height: 600px;
    padding: 188px 473px 292px;
}

.hero-title {
    width: 496px;
    padding-top: 188px;
    font-size: 56px;
    line-height: 1.07;
    color: var(--total-white);
    letter-spacing: 0.02em;
}

.hero-title-container {
    display: flex;
    align-content: center;
    width: 494px;
}

.button-hero {
    padding: 16px 32px;
    margin-top: 48px;
    margin-bottom: 188px;
    border-radius: 4px;
    display: flex;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--total-white);
    background-color: var(--color-iris);
    cursor: pointer;
}

.button-hero:hover, .button-hero:focus {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--total-white);
    background-color: var(--color-ocean);
    cursor: pointer;
}

/* Оформлення Main points */
.main-points-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-points-ul-container {
    display: flex;
    width: calc(1198-3*24/4);
}

.main-points-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

.main-points-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-secondary)
}

/* Оформлення What are we doing */
.what-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.what-images-container {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 24px;
}

.h2-what-are-we-doing {
    align-items: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

/* ____________________________________
Оформлення Our team */
.our-team-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.about-team-container {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 120px;
}

.our-team-section {
    background-color: var(--color-background-ocean);
}

.our-team-heading {
    align-items: center;
    align-content: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

.our-team-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-secondary)
}

/* Оформлення Footer */
/* .footer-container {
    display: block;
    align-items: center;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
} */

.footer-logo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-bgc {
    background-color: var(--color-primary);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    color: var(--color-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

/* Оформлення сторінки Portfolio */
.portfolio-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}

.buttons-container {
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 72px;
}

.buttons-portfolio {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-iris);
    background-color: var(--color-light);
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
}

.buttons-portfolio:hover, .buttons-portfolio:focus {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--total-white);
    background-color: var(--color-ocean);
    letter-spacing: 0.04em;
}

/* Оформлення Main products */
.portfolio-plates-container {
    display: flex;
    align-items: center;
    max-width: 1158px;
    padding: 0 15px 120px;
    margin: 0 auto;
    gap: 24px;
    flex-wrap: wrap;
}

.main-products-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-primary);
    letter-spacing: 0.02em;
}

.main-products-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-secondary);
    letter-spacing: 0.02em;
}