:root {
    --color-primary: #2E2F42;
    --color-secondary: #434455;
    --color-light: #E7E9FC;
    --color-ocean: #404BBF;
    --color-iris: #4D5AE5;
    --color-background-ocean: #F4F4FD;
    --total-white: #ffffff;
}

/* Видалити потім */
.hero-background-title {
    background-color: #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
}

ul {
    list-style: none;
}

/* Оформлення Header */
.container {
    display: flex;
    align-items: center;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 76px;
}

.head-section-container { 
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-blue {
    color: var(--color-iris);
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
}

.logo-footer {
    color: var(--color-background-ocean);
}

.header-section {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    text-decoration: none;
}

.header-section:hover, .header-section:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-ocean)
}

.header-contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-secondary)
}

.header-contacts:hover, .header-contacts:focus { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-ocean)
}

/* Оформлення Hero */
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--total-white);
    letter-spacing: 0.02em;
}

.button-hero {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--total-white);
    background-color: var(--color-iris);
    cursor: pointer;
}

.button-hero:hover, .button-hero:focus {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--total-white);
    background-color: var(--color-ocean);
    cursor: pointer;
}

/* Оформлення Main points */
.main-points-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

.main-points-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-secondary)
}

.h2-what-are-we-doing {
    font-size: 36px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

/* ____________________________________
Оформлення Our team */
.our-team-section {
    background-color: var(--color-background-ocean);
}

.our-team-heading {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

.our-team-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-secondary)
}

/* Оформлення підвалу */
.footer-bgc {
    background-color: var(--color-primary);
}

.footer-text {
    color: var(--color-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Оформлення сторінки Portfolio */
.buttons-portfolio {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-iris);
    background-color: var(--color-light);
    letter-spacing: 0.04em;
    cursor: pointer;
}

.buttons-portfolio:hover, .buttons-portfolio:focus {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--total-white);
    background-color: var(--color-ocean);
    letter-spacing: 0.04em;
}

/* Оформлення Main products */
.main-products-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-primary);
    letter-spacing: 0.02em;
}

.main-products-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-secondary);
    letter-spacing: 0.02em;
}